@{
    ViewBag.Title = "Home Page";
}

<section>
    <div class="main slider-wrapper theme-default hidden-xs hidden-sm">
        <div class="container rel">
            <div id="slider" class="nivoSlider">
                <img src="img/gallery/banner1.jpg" alt="" title="#htmlcaption1" />
                <img src="img/gallery/banner2.jpg" alt="" title="#htmlcaption2" />
                <img src="img/gallery/banner1.jpg" alt="" title="#htmlcaption3" />
            </div>

            <div id="htmlcaption1" class="nivo-html-caption">
                <h2>We are looking for you!</h2>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit.</h3>
            </div>

            <div id="htmlcaption2" class="nivo-html-caption">
                <h2>Contact us</h2>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit.</h3>
            </div>

            <div id="htmlcaption3" class="nivo-html-caption">
                <h2>Contact us</h2>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit.</h3>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="container">
        <div class="subline">
            <div class="carousel-wrapper col-xs-9 hidden-xxs pull-left">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-caption">
                                <p>
                                    <i>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper nunc non sapien vestinul
                                        posuere luctus. In nibh metus, porta sit amet imperdiet eget.
                                    </i>
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-caption">
                                <p>
                                    <i>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper nunc non sapien vestinul
                                        posuere luctus. In nibh metus, porta sit amet imperdiet eget.
                                    </i>
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-caption">
                                <p>
                                    <i>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper nunc non sapien vestinul
                                        posuere luctus. In nibh metus, porta sit amet imperdiet eget.
                                    </i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <div class="carousel-controlNav">
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" title="Previous">
                            <span class="ui-carousel-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" title="Next">
                            <span class="ui-carousel-prev"></span>
                        </a>
                    </div>
                </div>
            </div>

            <a href="blog.html" class="more col-xs-3 col-xxs-12 pull-right"><strong>More news</strong></a>
            <div class="shadow"></div>
        </div>
    </div>
</section>


<section>
    <!-- Our services -->
    <div class="container">
        <div class="title mt0"><span>Our Services</span></div>
        <div class="boxes style1">
            <div class="row">
                <div class="box col-sm-3">
                    <div class="inner">
                        <a href="#">
                            <img src="img/icons/01.png" alt="" />
                            <h2>Web developement</h2>
                            <p>
                                Lorem ipsum dolor sit amet why, consectetur apiscing elit. Vivamus mollis dignissim lacus eu posuere.
                                Nullam viverra accumsan dui eleifend condimentum.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="inner">
                        <a href="#">
                            <img src="img/icons/02.png" alt="" />
                            <h2>Web design</h2>
                            <p>
                                Aenean consetur turpi vel lacus dapibus dignissim. Duis vitae bibendum nibh. Duis ltricies ligula et nulla
                                viverra nec posuere erat cursus. Nam vulputate interdum mauris.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="inner">
                        <a href="#">
                            <img src="img/icons/03.png" alt="" />
                            <h2>Corporate Identity</h2>
                            <p>
                                Lorem ipsum dolor sit amet why, consectetur apiscing elit. Vivamus mollis dignissim lacus eu posuere.
                                Nullam viverra accumsan dui eleifend condimentum.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="inner">
                        <a href="#">
                            <img src="img/icons/04.png" alt="" />
                            <h2>Copywriting</h2>
                            <p>
                                Aenean sectetur turpis vel lacus dapibus dignissim. Duis vitae bibendum nibh. Duis ultcies ligula et
                                nulla viverra nec posuere erat cursus. Nam vulputate interdum mauris.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Last project -->
    <div class="container">
        <div class="boxes style2">
            <div class="title"><span class="">Last project</span></div>
            <div class="row">
                <div class="box col-sm-3 pull-left-sm tac">
                    <img src="img/icons/05.png" alt="" />
                    <h3>About Last Project</h3>
                    <p>
                        Curabitur tristique mi condimentum orci. Phasellus pellentesque aliquam enim. Proin dui lectus, cursus eu, mattis
                        laoreet, viverra sit amet, quam. Curabitur vel dolor ultrices ipsum dictum tristique.
                    </p>
                    <a href="#" class="more">More works</a>
                </div>
                <div class="box image col-sm-6 pull-left-sm tac">
                    <img src="img/gallery/work.jpg" alt="" />
                </div>
                <div class="box col-sm-3 pull-right-sm tac">
                    <img src="img/icons/06.png" alt="" />
                    <h3>What Client say</h3>
                    <p>
                        <i>
                            "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id,
                            condimentum at, laoreet mattis, massa. Proin dui lectus, cursus eu, mattis laoreet, viverra sit amet, quam."
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- From blog / Blog list -->
    <div class="boxes style3 whitebg">
        <div class="container">
            <div class="title"><span class="">From Blog</span></div>
            <div class="row">
                <div class="box col-sm-3">
                    <a href="#" class="">
                        <div class="image blurimg rel">
                            <img src="img/gallery/01.jpg" alt="" />
                            <span class="date">12. january 2013</span>
                            <span class="read">read</span>
                        </div>
                        <div class="text">
                            <h3>Aenean consectetur turpis vel</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere.
                                Nullam viverra accumsan dui eleifend condimentum. Phasellus quam nulla lipsumu dolor.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="box col-sm-3">
                    <a href="#">
                        <div class="image blurimg rel">
                            <img src="img/gallery/02.jpg" alt="" />
                            <span class="date">12. january 2013</span>
                            <span class="read">read</span>
                        </div>
                        <div class="text">
                            <h3>Aenean consectetur turpis vel</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere.
                                Nullam viverra accumsan dui eleifend condimentum. Phasellus quam nulla lipsumu dolor.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="box col-sm-3">
                    <a href="#">
                        <div class="image blurimg rel">
                            <img src="img/gallery/03.jpg" alt="" />
                            <span class="date">12. january 2013</span>
                            <span class="read">read</span>
                        </div>
                        <div class="text">
                            <h3>Aenean consectetur turpis vel</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere.
                                Nullam viverra accumsan dui eleifend condimentum. Phasellus quam nulla lipsumu dolor.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="box col-sm-3">
                    <a href="#">
                        <div class="image blurimg rel">
                            <img src="img/gallery/04.jpg" alt="" />
                            <span class="date">12. january 2013</span>
                            <span class="read">read</span>
                        </div>
                        <div class="text">
                            <h3>Aenean consectetur turpis vel</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere.
                                Nullam viverra accumsan dui eleifend condimentum. Phasellus quam nulla lipsumu dolor.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Clients -->
    <div class="logos">
        <div class="container">
            <div class="title"><span class="">Our clients</span></div>
        </div>
        <table class="responsive-sm">
            <tr>
                <td class="w20p"><div class="bwimg"><img src="img/gallery/logos/01.png" alt="" /></div></td>
                <td class="w20p"><div class="bwimg"><img src="img/gallery/logos/02.png" alt="" /></div></td>
                <td class="w20p"><div class="bwimg"><img src="img/gallery/logos/03.png" alt="" /></div></td>
                <td class="w20p"><div class="bwimg"><img src="img/gallery/logos/04.png" alt="" /></div></td>
                <td class="w20p"><div class="bwimg"><img src="img/gallery/logos/05.png" alt="" /></div></td>
            </tr>
        </table>
        <div class="clear h60"></div>
    </div>
</section>