
@{
    ViewBag.Title = "Portfolio";
}

<section>
    <div class="slider-wrapper small theme-default hidden-xs">
        <div class="container">
            <div id="slider" class="nivoSlider">
                <img src="img/gallery/banner-portfolio.jpg" alt="" title="#htmlcaption1" />
            </div>

            <div id="htmlcaption1" class="nivo-html-caption">
                <h2>Portfolio</h2>
                <h3>What we do a what do you get?</h3>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="container">
        <div class="subline">
            <ul class="breadcrumbs col-xs-8 hidden-xxs pull-left">
                <li><a href="#">Home</a></li>
                <li><a href="#">Portfolio</a></li>
            </ul>
            <a href="contact.html" class="more col-xs-4 col-xxs-12 pull-right"><strong>Contact us</strong> for more info</a>
            <div class="shadow"></div>
        </div>
    </div>
</section>

<section>
    <div class="blog-list boxes style3 container">
        <div class="title mt0"><span class="">From Blog</span></div>
        <div class="row">
            <div class="box col-xxs-12 col-xs-6 col-sm-4 col-md-3">
                <a href="content.html">
                    <div class="image bwimg blurimg">
                        <img src="/img/gallery/09.jpg" alt="" />
                        <span class="magn"></span>
                    </div>
                    <h3>Aenean consectetur turpis vel</h3>
                    <p>Consectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere. Nullam viverra acumsan dui lepros.</p>
                </a>
            </div>
            <div class="box col-xxs-12 col-xs-6 col-sm-4 col-md-3">
                <a href="content.html">
                    <div class="image bwimg blurimg">
                        <img src="/img/gallery/10.jpg" alt="" />
                        <span class="magn"></span>
                    </div>
                    <h3>Lorem ipsum vestibulum</h3>
                    <p>Onsectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere. Nullam viverra accumsan duieleif.</p>
                </a>
            </div>
            <div class="box col-xxs-12 col-xs-6 col-sm-4 col-md-3">
                <a href="content.html">
                    <div class="image bwimg blurimg">
                        <img src="/img/gallery/11.jpg" alt="" />
                        <span class="magn"></span>
                    </div>
                    <h3>Sandre padres molot</h3>
                    <p>Nullam viverra accumsan dui eleifend condimentum. Phasellus vestibul quam nulla lipsumu dolor.</p>
                </a>
            </div>
            <div class="box col-xxs-12 col-xs-6 col-sm-4 col-md-3">
                <a href="content.html">
                    <div class="image bwimg blurimg">
                        <img src="/img/gallery/12.jpg" alt="" />
                        <span class="magn"></span>
                    </div>
                    <h3>Loremiam lazarus</h3>
                    <p>Lorem ipsum dolor sit amet, cons verpectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere.</p>
                </a>
            </div>
            <div class="box col-xxs-12 col-xs-6 col-sm-4 col-md-3">
                <a href="content.html">
                    <div class="image bwimg blurimg">
                        <img src="/img/gallery/13.jpg" alt="" />
                        <span class="magn"></span>
                    </div>
                    <h3>Aenean consectetur turpis vel</h3>
                    <p>Consectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere. Nullam viverra acumsan dui lepros.</p>
                </a>
            </div>
            <div class="box col-xxs-12 col-xs-6 col-sm-4 col-md-3">
                <a href="content.html">
                    <div class="image bwimg blurimg">
                        <img src="/img/gallery/14.jpg" alt="" />
                        <span class="magn"></span>
                    </div>
                    <h3>Lorem ipsum vestibulum</h3>
                    <p>Onsectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere. Nullam viverra accumsan duieleif.</p>
                </a>
            </div>
            <div class="box col-xxs-12 col-xs-6 col-sm-4 col-md-3">
                <a href="content.html">
                    <div class="image bwimg blurimg">
                        <img src="/img/gallery/15.jpg" alt="" />
                        <span class="magn"></span>
                    </div>
                    <h3>Sandre padres molot</h3>
                    <p>Nullam viverra accumsan dui eleifend condimentum. Phasellus vestibul quam nulla lipsumu dolor.</p>
                </a>
            </div>
            <div class="box col-xxs-12 col-xs-6 col-sm-4 col-md-3">
                <a href="content.html">
                    <div class="image bwimg blurimg">
                        <img src="/img/gallery/16.jpg" alt="" />
                        <span class="magn"></span>
                    </div>
                    <h3>Loremiam lazarus</h3>
                    <p>Lorem ipsum dolor sit amet, cons verpectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere.</p>
                </a>
            </div>
            <div class="box col-xxs-12 col-xs-6 col-sm-4 col-md-3">
                <a href="content.html">
                    <div class="image bwimg blurimg">
                        <img src="/img/gallery/09.jpg" alt="" />
                        <span class="magn"></span>
                    </div>
                    <h3>Aenean consectetur turpis vel</h3>
                    <p>Consectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere. Nullam viverra acumsan dui lepros.</p>
                </a>
            </div>
            <div class="box col-xxs-12 col-xs-6 col-sm-4 col-md-3">
                <a href="content.html">
                    <div class="image bwimg blurimg">
                        <img src="/img/gallery/10.jpg" alt="" />
                        <span class="magn"></span>
                    </div>
                    <h3>Lorem ipsum vestibulum</h3>
                    <p>Onsectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere. Nullam viverra accumsan duieleif.</p>
                </a>
            </div>
            <div class="box col-xxs-12 col-xs-6 col-sm-4 col-md-3">
                <a href="content.html">
                    <div class="image bwimg blurimg">
                        <img src="/img/gallery/11.jpg" alt="" />
                        <span class="magn"></span>
                    </div>
                    <h3>Sandre padres molot</h3>
                    <p>Nullam viverra accumsan dui eleifend condimentum. Phasellus vestibul quam nulla lipsumu dolor.</p>
                </a>
            </div>
            <div class="box col-xxs-12 col-xs-6 col-sm-4 col-md-3">
                <a href="content.html">
                    <div class="image bwimg blurimg">
                        <img src="/img/gallery/12.jpg" alt="" />
                        <span class="magn"></span>
                    </div>
                    <h3>Loremiam lazarus</h3>
                    <p>Lorem ipsum dolor sit amet, cons verpectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere.</p>
                </a>
            </div>
        </div>
    </div>

    <!-- Clients -->
    <div class="logos">
        <div class="container">
            <div class="title"><span class="">Our clients</span></div>
        </div>
        <table class="responsive-sm">
            <tr>
                <td class="w20p"><div class="bwimg"><img src="/img/gallery/logos/01.png" alt="" /></div></td>
                <td class="w20p"><div class="bwimg"><img src="/img/gallery/logos/02.png" alt="" /></div></td>
                <td class="w20p"><div class="bwimg"><img src="/img/gallery/logos/03.png" alt="" /></div></td>
                <td class="w20p"><div class="bwimg"><img src="/img/gallery/logos/04.png" alt="" /></div></td>
                <td class="w20p"><div class="bwimg"><img src="/img/gallery/logos/05.png" alt="" /></div></td>
            </tr>
        </table>
        <div class="clear h60"></div>
    </div>
</section>

