
@{
    ViewBag.Title = "Services";
}

    <!-- Slider -->
<section>
    <div class="slider-wrapper small theme-default hidden-xs">
        <div class="container">
            <div id="slider" class="nivoSlider">
                <img src="img/gallery/banner-services.jpg" alt="" title="#htmlcaption1" class="noresponsive" />
            </div>

            <div id="htmlcaption1" class="nivo-html-caption">
                <h2>Services</h2>
                <h3>What we do and what do you get?</h3>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="container">
        <div class="subline">
            <ul class="breadcrumbs col-xs-8 hidden-xxs pull-left">
                <li><a href="#">Home</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">What we do</a></li>
            </ul>
            <a href="contact.html" class="more col-xs-4 col-xxs-12 pull-right"><strong>Contact us </strong> for more info</a>
            <div class="shadow"></div>
        </div>
    </div>
</section>

<section>
    <!-- Our services -->
    <div class="container">
        <div class="title mt0"><span>Our Services</span></div>
        <div class="boxes style1">
            <div class="row">
                <div class="box col-sm-3">
                    <div class="inner">
                        <a href="#">
                            <img src="img/icons/01.png" alt="" />
                            <h2>Web developement</h2>
                            <p>
                                Lorem ipsum dolor sit amet why, consectetur apiscing elit. Vivamus mollis dignissim lacus eu posuere.
                                Nullam viverra accumsan dui eleifend condimentum.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="inner">
                        <a href="#">
                            <img src="img/icons/02.png" alt="" />
                            <h2>Web design</h2>
                            <p>
                                Aenean consetur turpi vel lacus dapibus dignissim. Duis vitae bibendum nibh. Duis ltricies ligula et nulla
                                viverra nec posuere erat cursus. Nam vulputate interdum mauris.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="inner">
                        <a href="#">
                            <img src="img/icons/03.png" alt="" />
                            <h2>Corporate Identity</h2>
                            <p>
                                Lorem ipsum dolor sit amet why, consectetur apiscing elit. Vivamus mollis dignissim lacus eu posuere.
                                Nullam viverra accumsan dui eleifend condimentum.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="inner">
                        <a href="#">
                            <img src="img/icons/04.png" alt="" />
                            <h2>Copywriting</h2>
                            <p>
                                Aenean sectetur turpis vel lacus dapibus dignissim. Duis vitae bibendum nibh. Duis ultcies ligula et
                                nulla viverra nec posuere erat cursus. Nam vulputate interdum mauris.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Skills -->
    <div class="container">
        <div class="title"><span>Our Skills</span></div>

        <div class="row">
            <div class="box col-md-6">
                <div class="slider-line">
                    <div class="line">
                        <div class="line active w90pct"></div>
                        <div class="line value l90pct">90%</div>
                    </div>
                    <div class="slider-line-caption">Photoshop</div>
                </div>
                <div class="slider-line">
                    <div class="line">
                        <div class="line active w60pct"></div>
                        <div class="line value l60pct">60%</div>
                    </div>
                    <div class="slider-line-caption">Illustrator</div>
                </div>
                <div class="slider-line">
                    <div class="line">
                        <div class="line active w50pct"></div>
                        <div class="line value l50pct">50%</div>
                    </div>
                    <div class="slider-line-caption">Indesign</div>
                </div>
                <div class="slider-line">
                    <div class="line">
                        <div class="line active w70pct"></div>
                        <div class="line value l70pct">70%</div>
                    </div>
                    <div class="slider-line-caption">HMTL/CSS</div>
                </div>
                <div class="slider-line">
                    <div class="line">
                        <div class="line active w40pct"></div>
                        <div class="line value l40pct">40%</div>
                    </div>
                    <div class="slider-line-caption">SEO</div>
                </div>
                <div class="slider-line">
                    <div class="line">
                        <div class="line active w20pct"></div>
                        <div class="line value l20pct">20%</div>
                    </div>
                    <div class="slider-line-caption">Guitar</div>
                </div>
                <div class="clear h20"></div>
            </div>

            <div class="box col-xs-12 col-sm-5 col-md-3 pull-left tac">
                <img src="img/gallery/iphones.png" alt="" />
            </div>

            <div class="box col-xs-12 col-sm-7 col-md-3 pull-left pr15">
                <h2 class="mt0 fwl mb10">WHAT ELSE WE DO?</h2>
                <ul class="style1">
                    <li>Lorem ipsum dolor sit amet,</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>mollis dignissim lacus eu posue</li>
                    <li>Nullam viverra accumsan duibe</li>
                    <li>Eleifend condimentum. Phasellus</li>
                    <li>Ruam nulla cupa cupsus</li>
                    <li>Consectetur adipiscing elit</li>
                </ul>
            </div>
        </div>
        <div class="clear h40"></div>
    </div>

    <!-- Who we are -->
    <div class="boxes style3 whitebg">
        <div class="container">
            <div class="title"><span class="">Who we are?</span></div>
            <div class="row">
                <div class="box col-sm-3">
                    <div class="inner">
                        <a href="#">
                            <div class="row">
                                <div class="image blurimg rel col-xs-4 col-sm-12">
                                    <img src="img/gallery/05.jpg" alt="" />
                                    <span class="title">Web designer</span>
                                </div>
                                <div class="text col-xs-8 col-sm-12">
                                    <h3>Maria Michelanggelo</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere.
                                        Nullam viverra accumsan dui eleifend condimentum. Phasellus quam nulla lipsumu dolor..
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="inner">
                        <a href="#">
                            <div class="row">
                                <div class="image blurimg rel col-xs-4 col-sm-12">
                                    <img src="img/gallery/06.jpg" alt="" />
                                    <span class="title">Copywriter</span>
                                </div>
                                <div class="text col-xs-8 col-sm-12">
                                    <h3>Peter "Junior" Kincel</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere.
                                        Nullam viverra accumsan dui eleifend condimentum. Phasellus quam nulla lipsumu dolor..
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="inner">
                        <a href="#">
                            <div class="row">
                                <div class="image blurimg rel col-xs-4 col-sm-12">
                                    <img src="img/gallery/07.jpg" alt="" />
                                    <span class="title">Main Boss</span>
                                </div>
                                <div class="text col-xs-8 col-sm-12">
                                    <h3>Frederico Estavez</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere.
                                        Nullam viverra accumsan dui eleifend condimentum. Phasellus quam nulla lipsumu dolor..
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="inner">
                        <a href="#">
                            <div class="row">
                                <div class="image blurimg rel col-xs-4 col-sm-12">
                                    <img src="img/gallery/08.jpg" alt="" />
                                    <span class="title">Coder</span>
                                </div>
                                <div class="text col-xs-8 col-sm-12">
                                    <h3>Elena Polakowski</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis dignissim lacus eu posuere.
                                        Nullam viverra accumsan dui eleifend condimentum. Phasellus quam nulla lipsumu dolor..
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Clients -->
    <div class="logos">
        <div class="container">
            <div class="title"><span class="">Our clients</span></div>
        </div>
        <table class="responsive-sm">
            <tr>
                <td class="w20p"><div class="bwimg"><img src="/img/gallery/logos/01.png" alt="" /></div></td>
                <td class="w20p"><div class="bwimg"><img src="/img/gallery/logos/02.png" alt="" /></div></td>
                <td class="w20p"><div class="bwimg"><img src="/img/gallery/logos/03.png" alt="" /></div></td>
                <td class="w20p"><div class="bwimg"><img src="/img/gallery/logos/04.png" alt="" /></div></td>
                <td class="w20p"><div class="bwimg"><img src="/img/gallery/logos/05.png" alt="" /></div></td>
            </tr>
        </table>
        <div class="clear h60"></div>
    </div>
</section>

